:root {
  --heading-font: "Playfair Display", serif;
  --main-font: "Poppins", sans-serif;
  --background-color: #f0fbff;
  --button-color: #004aad;
}

body {
}

h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-style: normal;
  font-size: 96px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 1.2;
}

.content-container h2 {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: bold;
}

h2 {
  font-family: var(--heading-font);
  font-size: 64px;
  font-weight: bold;
}

h3 {
  font-family: var(--main-font);
  font-size: 24px;
  color: #272142;
  margin-top: 28px;
}

h4 {
  font-size: 48px;
  font-family: var(--heading-font);
  font-weight: bold;
}

p {
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

footer {
  margin: 60px 0;
}

h3 a {
  color: #272142;
}

h3 a:hover {
  color: var(--button-color);
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  margin: 0;
  line-height: 2;
  padding: 100px;
}

.greeting {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.btn-branding {
  font-family: var(--main-font);
  background-color: var(--button-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  font-weight: medium;
  width: 200px;
  height: 60px;
  padding: 15px;
}

.featured {
  font-size: 28px;
}

.project-text {
  font-size: 16px;
  font-family: var(--main-font);
  line-height: 30px;
  margin-bottom: 50px;
  margin-top: 55px;
  opacity: 0.7;
}

.project-link {
  color: var(--button-color);
  border: 1px solid var(--button-color);
  font-family: var(--main-font);
  font-size: 16px;
  border-radius: 4px;
  padding: 18px 25px;
  text-decoration: none;
  font-weight: medium;
}

.project-description {
  padding: 30px 60px;
}

.sections {
  margin-top: 70px;
}

.content-container {
  padding: 60px 20px;
}

.content-inner {
  margin: 30px;
}

.card-heading {
  margin-bottom: 100px;
  text-align: center;
}

.image-card {
  text-align: center;
}
.picture-text {
  font-size: 14px;
  opacity: 0.7;
}

.card-images {
  border-radius: 20px;
}

.logo {
  max-height: 100px;
}

footer .contact-box {
  background-color: var(--background-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: #272142;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

footer .email-link:hover {
  color: var(--button-color);
}

footer .social-links a {
  margin: 0 20px;
  background-color: var(--background-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  background-color: var(--button-color);
}

footer .social-links a i {
  color: var(--button-color);
}

footer .social-links a:hover i {
  color: var(--background-color);
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  font-size: 20px;
  line-height: 42px;
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
  color: #272142;
  opacity: 0.7;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--button-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.4;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 26px;
  }

  .hero {
    padding: 80px 20px;
  }

  .greeting {
    font-size: 28px;
  }

  .featured {
    font-size: 18px;
    font-weight: 500;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content-container {
    text-align: center;
    padding: 0px;
  }

  .content-container h1 {
    font-size: 44px;
  }

  nav li {
    font-size: 16px;
  }

  footer .contact-box {
    padding: 30px;
  }

  footer p {
    font-size: 14px;
  }
}
